header {
	background-image: url("../img/bayfood2.jpg");
	color: #FFFFFF;
	text-shadow: 2px 2px 8px #3b3b44;
	padding-bottom: 8%;
}

h1.header_text {
	font-size: 160%;
}

tbody {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DDDDDD;
}

th {
	text-align: center;
}

th strong {
	font-size: 1.5em;
}

#main {
    display: block;
}

#events {
	padding: 2em;
	margin-left: 1em;
}

@media only screen and (min-width: 460px) {
	h2.header_text{
		font-size: 360%;
	}

	h1.header_text{
		font-size: 250%;
	}

	#events{
		font-size: 1em;
	}
}

.col .block {
  display: block;
  float: left; }

.col-3 .block {
  width: 33.33333332%; }

.event-grid {
	text-align: center;
	padding: 60px 0; 
}

.event-grid .col .block {
	width: 30%;
	position: relative;
	cursor: pointer;
	margin: .5% 0; 
}

.event-grid .col .block.block-2 {
	margin: .5% 1%; 
}

@media only screen and (max-width: 768px) {
	.event-grid .col .block {
		width: 100%; 
	}
	.event-grid .col .block.block-2 {
		margin: .5% 0; 
	} 
}

.event-grid .col .block img {
	display: block;
	width: 100%; 
}

.event-grid .col .block .overlay {
	background: #ffffff;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	text-decoration: none !important;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out; 
}

@media only screen and (max-width: 768px) {
	.event-grid .col .block .overlay {
		opacity: 1;
		background: rgba(255, 255, 255, 0.6) !important; 
	} 
}

.event-grid .col .block .overlay .copy-block {
	color: #000000;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin: -20px 0 0 0;
	text-align: center; 
}

.event-grid .col .block .overlay .copy-block span {
	font-size: 13px;
	font-weight: 900;
	display: block; }

.event-grid .col .block .overlay .copy-block span.title {
	font-weight: 500;
	font-size: 18px; 
}

.event-grid .col .block:hover .overlay {
	opacity: 1; 
}

.btn {
	font-family: "museo-sans", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px; 
}

.btn {
	color: #ffffff;
	background: #e68964;
	padding: 10px 40px;
	font-size: 13px;
	text-align: center;
	border: none;
	border-radius: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer; 
}

.btn:hover {
	text-decoration: none;
	color: #ffffff;
	border: none;
	background: #D77C64; 
}