header {
	background-image: url("../img/bayfood2.jpg");
	color: #FFFFFF;
	text-shadow: 2px 2px 8px #3b3b44;
	padding-bottom: 8%;
}

h1.header_text {
	font-size: 160%;
}

tbody {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DDDDDD;
}

th {
	text-align: center;
}

th strong {
	font-size: 1.5em;
}

#events {
	padding: 2em;
	margin-left: 1em;
}

@media only screen and (min-width: 460px) {
	h2.header_text{
		font-size: 360%;
	}

	h1.header_text{
		font-size: 250%;
	}

	#events{
		font-size: 1em;
	}
}