header {
	background-image: url("../img/bayfood5.jpg");
	color: #FFFFFF;
	text-shadow: 2px 2px 8px #3b3b44;
	padding-bottom: 8%;
}

h1.header_text {
	font-size: 160%;
}

.social-signup-btn {
	height: 35px;
	width: 400px;
	color: #fff;
	font-size: 13px;
	line-height: 35px;
	text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
	text-align: center;
	margin: 20px auto 30px auto; 
}

.social-signup-btn:hover {
	cursor: pointer; 
}

.social-signup-btn:before {
    content: '';
    display: block;
    width: 59px;
    height: 35px;
    float: left;
    border-right: 1px solid #fff; 
}

.social-signup-btn.facebook {
    background: #3b5998; 
}

.social-signup-btn.facebook:hover, .social-signup-btn.facebook:focus {
    background: #354f88; 
}

.social-signup-btn.facebook:before {
    background: #354f88 url("../img/icon-fb.png") center center no-repeat; 
}

.social-signup-btn.google {
    background: #d84a38; 
}

.social-signup-btn.google:hover, .social-signup-btn.google:focus {
    background: #af3e2f; 
}

.social-signup-btn.google:before {
    background: #af3e2f url("../img/icon-g.png") center center no-repeat; 
}